DB_URI=postgresql://<username>:<password>@localhost>:<port>/<pet_store>
REDIS_HOST=your-redis-host
REDIS_PORT=6xxx
REDIS_PASSWORD=your-redis-password

ADMIN_EMAIL=your-admin-email@example.com
ADMIN_PASSWORD=your-secure-password
ADMIN_NAME=Admin